body {
}
.textbox {
    font-family: Arial Helvetica, Sans-Serif;
    background-color: #00BBFF;
    border: 1px solid
}

.button {
    font-family: Arial;
    background-color: #00BBFF;
    border: 1px solid
}
